@import "theme.css";

a {text-decoration: none;}

body {
  padding: 0;
  margin: 0;
  font-family: var(--font);
}

main {
  min-height: 100vh;
  display: none;
  grid-template-rows: auto 1fr auto;
  padding: 0;
  margin: 0;
}

main:target {
  display: grid;
}

main#main {
  display: grid;
}

main:target ~ main#main {
  display: none;
}

main > material-navigation {
  margin: 0;
}

main > section {
  display: flex;
  align-items: center;
  justify-content: center;
}

main > material-paper {
  text-align: center;
}

main > section > material-paper {
  width: 80%;
  text-align: center;
}



.inputImg {
  display: none;
}

/* * {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
}

main {
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr 16fr 2fr;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-areas: "back header header" "content content content" "change change change  ";
}

a {
  padding: 10%;
}

.five {
  margin: auto;
}

.eight {
  margin: auto;
}

.text {
  text-align: center;
  color: white;
  background-color: #37ac7f;
  border-radius: 10px;
}

 */
