* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: tahoma;
}

div.container {
  display: grid;
  height: 100vh;
  justify-content: center;
  align-content: center;
}

div.container a {
  text-align: center;
  background-color: #37ac7f;
}

div.container button {
  text-align: center;
  background-color: #37ac7f;
}

a {
padding-top: 20px;
padding-bottom: 20px;
padding-right: 40px;
padding-left: 40px;
border-radius: 4%;
font-size: 23px;
text-decoration: none;
color: white;
margin: 5px;
}

.button {
  width: 64px;
  height: 64px;
  margin-left: 32%;
  border-radius: 50%;
  font-size: 40px;
  padding: 0;
  line-height: 64px;
}

input {
  border: 1pl solid #37ac7f;
  height: 20px;
}

button {
  padding: 10px;
  border: 1px splid red;
  width: 30%;
  background-color: #37ac7f;
}

.curs {
  margin-top: 80vh;
}